<div>
    <h2>Flyer verteilen</h2>
    <p>Damit es auch jeder mitbekommt, werden wir in den Wochen vor dem Streik <strong>Augsburg beflyern.</strong> Dafür brauchen wir eure Hilfe!
      Wir haben einen ausgearbeiteten Plan, ihr könnt euch Läden oder Straßen zum Briefkastenflyern rauspicken oder uns auch einen größeren Teil abnehmen, genau so, <strong>wie ihr Zeit und Lust habt</strong>.
      Flyer und Pläne können <strong>jederzeit im Klimacamp</strong> abgeholt werden!</p>

    <p>Wenn du noch Fragen hast, kannst du diese in den Helfer*innen-Gruppen auf Whatsapp oder Telegram stellen.</p>
    <div style="text-align: center;">
      <a class="btn whatsapp" href="https://fffutu.re/HelFFFerInnen" target="_blank"><i class="fab fa-whatsapp icon-left"></i>Whatsapp</a>
      <a class="btn telegram" href="https://t.me/HelFFFerInnen" target="_blank"><i class="fab fa-telegram icon-left"></i>Telegram</a>
    </div>
</div>