.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {4
  font-family: 'Jost';
  font-weight: 500;
  font-size: 19px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  font-family: inherit;
  margin: 0;
  font-style: none;
  background-color: #1b7340;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.navbar .active {
  background-color: #1DA64A;
  color: white;
}

a.active {
  background-color: #1DA64A;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  margin-left: 5px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0;
}

.dropdown-content a:first-child {
  margin-left: 0;
  border-radius: 5px 5px 0px 0px
}

.dropdown-content a:last-child {
  margin-right: 0;
  border-radius: 0px 0px 5px 5px
}

.dropdown-content a {
  margin-left: 0;
  margin-right: 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}