



  <link rel="preload" href="/layout.css" as="style">
  <link rel="preload" href="/assets/icons/icons.css" as="style">
  <link rel="preload" href="/includes/slider/js/slide.css" as="style">

  <script rel="preload" src="/includes/include.js" as="script"></script>
  <script rel="preload" src="/includes/slider/js/slide.js" as="script"></script>


  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/assets/icons/icons.css">
  <link rel="stylesheet" href="/includes/slider/js/slide.css">

  <script src="/includes/include.js"></script>
  <script src="/includes/slider/js/slide.js"></script>

