<section>
    <h1><i class="fad fa-bullhorn icon-left"></i>Nächste Termine</h1>

    <h2>Wöchentliches Plenum</h2>
    <p>
      <a href="/mitmachen/">Siehe Mitmachen.</a>
    </p>
    <h2>Ergebnisse zurückliegender Veranstaltungen</h2>
    <p>
      Ergebnisse einiger zurückliegender Veranstaltungen haben wir <a href="/veranstaltungen/">hier</a> hinterlegt.
    </p>
</section>
