@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
}

.item{
  list-style-type: none;
  margin: 10px 5px;
  font-size: 3vh;
}

.item a{
  text-decoration: none;
}

a{
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

nav{
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  background: #20175A;
}

ul{
  display: block;
  margin: 0;
  padding: 0;
  
  display: flex;  
}


button{
  display: none;
}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }
  
  a{
    display: block;
  }
  
  li{
    margin: 0;
  }
  
  button{
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    
    align-self: flex-start;
  }
}


li {
	display: block;
	float: left;
	position: relative;
  transition-duration: 0.5s;
}


ul li:hover > ul,
ul li ul:hover {
  display: block;
}


.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 5.5px;
  background-color: #20175A;
  border-radius: 5px;
}

.dropdown-content a{
  float: none;
  color: #fff;
  padding: 10px 20px 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a{
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.dropdown-content a:hover{
  background: #fff;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.item,a{
  border-radius: 5px;
}

.item a:hover{
  color: #000;
  background: #fff;
}

.dropdown-content a:first-child:hover {
  margin-left: 0;
  border-radius: 5px 5px 0px 0px;
}

.dropdown-content a:last-child:hover {
  margin-right: 0;
  border-radius: 0px 0px 5px 5px;
}