<div>
    <h2 class="first-heading">Hilf mit!</h2>
    <p>Für alle die etwas mehr machen wollen als nur die Demos zu besuchen, können auch vor, während oder nach diesen
      <strong>kleine Aufgaben übernehmen</strong>. Dafür haben wir ein eigenes Portal und Gruppen auf Whatsapp und Telegram, wenn du
      etwas übernehemen kannst, melde dich einfach! Du brauchst <strong>kein Vorwissen oder viel Zeit</strong>, außerdem steht dir immer
      ein*e feste Ansprechpartner*in zu Verfügung, falls du Fragen hast.</p>
    <div style="text-align: center;">
      <a class="btn" href="https://helfen.fff-augsburg.de" target="_blank"><i class="fas fa-clipboard-list icon-left"></i>Helfer*innen-Portal</a>
      <a class="btn whatsapp" href="https://fffutu.re/HelFFFerInnen" target="_blank"><i class="fab fa-whatsapp icon-left"></i>Whatsapp</a>
      <a class="btn telegram" href="https://t.me/HelFFFerInnen" target="_blank"><i class="fab fa-telegram icon-left"></i>Telegram</a>
    </div>
</div>
