<body>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .mySlides {
                display: none;
            }
        </style>
        <div class="w3-content w3-display-container">
            <img class="mySlides" src="https://www.fff-augsburg.de/testing/needed/website-header-19-03-map.jpg"
                style="width:100%">
            <img class="mySlides" src="https://www.fff-augsburg.de/testing/needed/website-header-19-03-pbgenerator.jpg"
                style="width:100%">
            <img class="mySlides" src="https://www.fff-augsburg.de/testing/needed/website-header-19-03-map.jpg"
                style="width:100%">
            <img class="mySlides"
                src="https://www.fff-augsburg.de/testing/needed/website-header-19-03-AlleFuer1Komma5.png"
                style="width:100%">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
